html,body {
  height: 100%;
}

body {
  overflow: hidden;
}

#mapid {
  margin-top: 45px;
  height: calc(100% - 45px);
  cursor: pointer;
}

.card {
  top: 65px;
  right: 20px;
  z-index: 1000;
}

.card .btn {
  display: block;
}

.card label {
  width: 90px;
  text-align: right;
}

.card input,
.card select {
  width: 150px;
  display: inline-block;
}

.btn-danger {
  float: right;
}

#parent {
  width: auto;
  display: inline;
}

.leaflet-tile-pane {
  opacity: 0.5;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background-color: rgba(255, 255, 255, 0.8);
}

/*
 * Content
 */

[role="main"] {
  padding-top: 133px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
