
h1,h2,h3,h4,h5,h6 {
    margin-top: 15px;
}

html, body {
    height: 100%;
}

body {
    /* source : https://unsplash.com/photos/ectCONDiNsI */
    background-image:url(images/bg.jpeg);   
    background-size: cover; 
}

/*
#CADBE9
#D7FFF1
#a8dba8*/

.cover-container {
    background-color: rgba(0,0,0,0.5); 
}
.cover-container a {
    color: #28a745; 
    text-shadow: 0 0 3px rgba(0,0,0,1);
}

/* .form-signin {
    background-color: rgba(255,255,255,0.7);
} */

.input-group>* {
    flex: 1 1 0;
}

.input-group-text {
    width: 100%;
}

@media (max-width: 768px) {
    body {
      padding: 0;
    }
    .cover-container {
        margin: 0 !important;
        max-width: inherit;
    }
  }